<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".S05PreviewActivity" android:exported="true" android:theme="@style/Theme.SportiliApp" />
        <activity android:name=".S04PreviewActivity" android:exported="true" android:theme="@style/Theme.SportiliApp" />
        <activity android:name=".S03PreviewActivity" android:exported="true" android:theme="@style/Theme.SportiliApp" />
        <activity
            android:name=".S02PreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.SportiliApp" />
        <activity
            android:name=".Qa01PreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.SportiliApp" />
        <activity
            android:name=".Adm02PreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.SportiliApp" />
        <activity
            android:name=".Adm01PreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.SportiliApp" />
        <activity
            android:name=".And04PreviewActivity"
            android:exported="true"
            android:theme="@style/Theme.SportiliApp" />
    </application>
</manifest>
